<!DOCTYPE html>
<html lang="en">
{{ template "head" . }}
<body>
{{ template "header" . }}
<main id="troubleshooting">
    <h1>Troubleshooting your node</h1>
    <p>There are a few things you can do to troubleshoot your node.</p>
    <section id="My_node_is_not_syncing">
        <h2><a href="#My_node_is_not_syncing">My node is not syncing</a></h2>
        <p>While node is still in development it can happen quite randomly. You can try these methods:</p>
        <section id="Deleting_Sui_Database">
            <h3><a href="#Deleting_Sui_Database">Deleting <code>Sui Database</code></a></h3>
            <p>By deleting it you can restart the whole sync process.</p>
            <ul>
                <li>Find <strong>suidb</strong> folder: <code>find / -name suidb</code></li>
                <li>And remove it by using <code>rm -rf</code></li>
            </ul>
        </section>
    </section>
    <section id="Upgrading_your_node_on_devnet">
        <h2><a href="#Upgrading_your_node_on_devnet">Upgrading your node on devnet</a></h2>
        <p>Usually upgrading requires updating genesis and wiping sui database.</p>
        <p>Check <code>#devnet-updates</code> on Sui discord before completing next steps.</p>
        <section>
            <ul>
                <li>Remove <strong>suidb</strong> and <strong>genesis.blob</strong></li>
                <li>Download a new <strong>genesis</strong>: <code>curl -fLJO
                        https://github.com/MystenLabs/sui-genesis/raw/main/devnet/genesis.blob</code></li>
            </ul>
        </section>
    </section>
    <section id="Fatal_alert_badcertificate">
        <h2><a href="#Fatal_alert_badcertificate"></a>Fatal alert badcertificate</h2>
        <p>This can happen because you have an <strong>outdated genesis</strong>. Update it and then try checking your node logs again.</p>
    </section>
    <h2>Warnings explanation</h2>
    <section>
        <p class="warning">Official node have different version.</p>
        <p>
            It means that your node is not up-to-date with the official node.
            Check if there is any available updates on
            <a href="https://github.com/MystenLabs/sui/releases/latest">Sui's github</a>.
        </p>
    </section>
    <section>
        <p class="warning">Your node is not syncing, please check your node logs.</p>
        <p>This means that your node is not synchronising with the network. Check your node logs for more
            information.</p>
    </section>
    <section>
        <p class="warning">Your node have more transactions than official node!</p>
        <p>
            It means that your node has more transactions than the official node.
            This can happen because you are using an older version of Sui devnet than the official one.
        </p>
    </section>
    <section>
        <p class="warning">Your node is syncing slower than the official node. If this continues for more than a day,
            it might never catch up</p>
        <p>
            This means that your node is synchronising slower than the official node.<br><br>
            This can happen because you are using underpowered hardware, such as a VPS with slow SSD, slow CPU or slow
            memory.<br><br>
            VPS providers may oversell their hardware, so you may be sharing your resources with other users and this
            may slow down your node.<br><br>
            It can also happen because of some network issues and many other reasons.
        </p>
    </section>
</main>
{{ template "footer" . }}
</body>