{{ define "footer" -}}
<footer>
    <ul>
        <li><strong>Sui</strong></li>
        <li><a href="https://github.com/MystenLabs/sui/releases/latest">Latest node release</a></li>
        <li><a href="https://github.com/MystenLabs/sui-genesis/raw/main/devnet/genesis.blob">Latest devnet genesis</a></li>
        <li><a href="https://github.com/MystenLabs/sui-genesis/raw/main/testnet/genesis.blob">Latest testnet genesis</a></li>
    </ul>
    <ul>
        <li><strong>Open-Source</strong></li>
        <li><a href="https://github.com/hypeinfra/sui-probe/sui-probe">Healthcheck Source Code</a></li>
    </ul>
</footer>
{{ end }}