/* Main styles */
body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
}

/* Internet explorer doesn't know what <main> is */
main {
    display: block;
}

a {
    text-decoration: none;
    color: #007bff;
}

/* Light theme */
body {
    background-color: #fff;
    color: #000;
    overflow-x: hidden;
}

main#node + footer {
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer ul li {
    list-style-type: none;
}

footer ul li:has(strong) {
    margin-bottom: 0.5rem;
}

header {
    padding: 1rem;
}

/* Really basic CSS for older browsers */
main#main-page {
    padding: 1rem;
    text-align: center;
    max-width: 480px;
    margin: 0 auto;
}

/* Check for newer browsers, but not Internet Explorer */
@supports (transform: translate(-50%, -50%)) {
    main#main-page {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        margin: auto;
    }
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

main#node {
    margin: 0 auto;
    max-width: 600px;
    padding: 1rem;
}

main#main-page form input {
    border: 1px solid white;
    background: transparent;
    padding: 1rem;
    width: 100%;
    border-radius: 6px;
}

/* Sometimes RGB isn't an option :( */
@supports (rgb(0 0 0 / 5%)) {
    main#main-page form input {
        border: 1px solid #ced4da;
        box-shadow: 0 12px 30px 4px rgb(0 0 0 / 5%);
    }
}

main#main-page form input {
    border: 1px solid #ced4da;
    box-shadow: 0 12px 30px 4px #e0e0e0;
}

main#main-page form + p {
    padding: 1rem;
    border: 1px solid #ea4646;
    background: rgba(234, 70, 70, 0.44);
    border-radius: 6px;
    color: black;
}

main#main-page form input:focus {
    border: 1px solid rgb(111, 188, 240);
    outline: none;
}

table, td, th {
    border: 1px solid;
    padding: 1rem;
}

body > main > table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}

/* Universal ones */
.warning {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin: 0 auto;
    border-radius: 0.25rem;

    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;

}

main#troubleshooting {
    padding: 1rem;
    max-width: 600px;
    margin: 0 auto;
}

main#troubleshooting ul {
    list-style-type: none;
    padding: 0;
}

main#troubleshooting ul li {
    margin-bottom: 0.5rem;
}

main#troubleshooting section section {
    padding-left: 1rem;
    border-left: 1px solid #ced4da;
}

main#troubleshooting h2 a, main#troubleshooting h3 a {
    text-decoration: none;
    color: inherit;
}

code {
    background-color: #f8f9fa;
    padding: 0.2rem 0.4rem;
    font-size: 90%;
    color: #e83e8c;
    border-radius: 0.25rem;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #181818;
        color: #fff;
    }

    a {
        color: #007bff;
    }

    main#main-page form input {
        color: white;
    }

    main#main-page form + p {
        color: white;
    }

    main#main-page form input {
        box-shadow: 0 12px 30px 4px rgb(0 0 0 / 20%);
    }
}

/* Animations */

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
}