<!DOCTYPE html>
<html lang="en">
{{ template "head" . }}
<body>
<main id="main-page">
    <h1>Sui Node Healthcheck</h1>
    <p>Want to check your sync status? You've come to the right place.</p>
    <form action="./" method="get">
        <input type="text" name="sui-node-address" placeholder="Node IP with port. Example: 127.0.0.1:9000" aria-label="Your Sui Node IP with Port" {{ if .ip }} value="{{.ip}}" {{ end }}>
        <input type="submit" hidden />
    </form>
    {{ if .error }}
        <p>An error occurred: {{ .error }}</p>
    {{ end }}
</main>
{{ template "footer" . }}
</body>
{{ template "input-animation-js"}}
